html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    text-align: center;
    font-weight:normal;
}

h4 {
    margin: 0.2vh;
    font-weight:normal;
    text-align: center;
}

button {
    font-size: 3vh;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: min(1vw, 1vh);
    margin: min(1vw, 1vh);
}

#preview-search-container {
    min-height: 100vh;
    font-size: min(3vw, 3vh);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-results {
    max-height: 80vh;
    max-width: 80vw;
    border: 0.2vh solid;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

.result-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: 0.2vh solid;
}

.result-flexbox:hover {
    background-color: #f0f0f0;
}

.result-thumbnail {
    width: 15vw;
    max-height: 20vh;
    margin: min(1vw, 1vh);
}

#preview-search-container > form {
    margin: min(1vw, 1vh);
}

#preview-search-container > div {
    margin: min(1vw, 1vh);
}

#thumbnail-image {
    display: block;
    width: 70vw;
    max-height: 100vh;
    margin: min(1vw, 1vh) auto;
}

#toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="text"] {
    font-size: min(3vw, 3vh);
}

input[type="checkbox"] {
    width: 3vh;
    height: 3vh;
}

#submit-button {
    display: block;
}

.fa {
  margin-left: 0.25vw;
  margin-right: 0.5vw;
}

#analysis-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0px;
    border-top: 0.2vh solid;
}

nav {
    margin: 0px;
}

nav ol{
    list-style-type: none;
    width: 20vw;
    height: 100vh;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    margin: 0px;
    padding: 0px;
    border-right: 0.2vh solid;
}

.video-entry {
    border-bottom: 0.2vh solid;
}

.video-entry:hover {
    background-color: #f0f0f0;
}

#analysis-pane {
    width: 100%;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

.video-wrapper {
    position: relative;
    width: 50%;
    height: 0px;
    padding-bottom: 28.125%;
    margin: 0 auto;
}

iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#meter-container {
    font-size: 2em;
    text-align: center;
}

#happy-meter {
    width: 450px;
    height: 50px;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  z-index: 100;
}

