h1 {
    text-align: center;
}

#meter-container {
    font-size: 2em;
    display: none;
    justify-content: center;
}

#happy-meter {
    width: 450px;
    height: 50px;
}

.search-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#happy-container {
    display: none;
}

#analysis-title {
    display: none;
}